.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
*.log
*.trs

Makefile
Makefile.in
stamp-h1

/aclocal.m4
/autom4te.cache/*
/build-scripts/*
/config.cache
/config.log
/config.status
/configure

/README
/NEWS
/INSTALL

/src/config.h
/src/config.h.in
/src/jackminimix
